{% if content.field_banner_image["#items"][0].entity.field_media_image_3[0].entity.uri.value |render %}
	<div class="m-banner m-banner--{{ ct }}" aria-label="Page banner">

		<div class="m-banner__copy">
			<div class="grid">
				<div class="col-sm-12">
					
					{% if node.title.value %}
						<h1>
							{{ node.title.value }}
						</h1>
					{% endif %}

				</div>
			</div>
		</div>

		<figure class="m-banner__image">

			{% include '@pippip/partials/atoms/banner-image.twig' with {
				image: content.field_banner_image["#items"][0].entity.field_media_image_3[0].entity.uri.value, 
				alt: content.field_banner_image["#items"][0].entity.field_media_image_3[0].alt,
				title: content.field_banner_image["#items"][0].entity.field_media_image_3[0].title,
				height: node.field_banner_image[0].entity.field_media_image_3[0].height,
				width: node.field_banner_image[0].entity.field_media_image_3[0].width,
				lazyDisable: lazyDisable == false ? lazyDisable : true,
			}%}    

			{% include '@pippip/partials/atoms/image-credit.twig' with {credit: node.field_banner_image.entity.field_image_credit.getValue()[0]['value']} %}
		</figure>

	</div>

{% else %}

	<div class="m-no-banner m-no-banner--{{ ct }}" aria-label="Page banner">
		<div class="grid">
			<div class="col-12">

				{% if node.title.value %}
					<h1>
						{{ node.title.value }}
					</h1>
				{% endif %}

			</div>
		</div>
	</div>

{% endif %}